.copyright-custom-caption {
    margin: auto;
}
.copyright-custom-caption  .custom-caption-text{
    font-size: 14px;
    font-family: 'Bold_Font';
}
.quick-links-list .quick-links{
    list-style-type: none;
    text-decoration: none;
}
.footer-quick-block.footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in{
    max-width: 20% !important;
}
.footer-quick-block  .footer-quick-block-heading{
    font-size: 20px;
    font-family: 'Bold_Font';
}
.footer-rating-text-coffee{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-rating-text-coffee .footer-rating-star-text{
    font-size: 11px;
}

.footer-content-top{
    padding-bottom: 10px !important;
}
.footer-content-bottom{
    padding-top: 10px !important;
}
.footer-logo-main-div {
    margin-right: 35px;
}
.footer-logo-main .footer-logo{
    width: 180px;
}
@media screen and (max-width:980px)
{
    
}

@media screen and (max-width:767px){
    .footer-blocks-wrapper-main{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .footer-quick-block.footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in {
        max-width: 48% !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    .footer-content-top{
        padding-left: 20px !important;
        padding-right: 0 !important;
    }
    .footer-logo-main-div {
        margin-right: 0;
    }
}