
.product-text-logos{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.product-text-logos .post-text, .product-text-logos .mid-text{
    font-size: 14px;
    font-family: 'Medium_Font';
    width: 62px;
    height: 62px;
    border-radius: 30px;
    text-align: center;
    line-height:15px;
    padding-top: 15px;
}
.main-product-heading-main .main-product-heading{
    font-size: 24px;
    font-family: 'Bold_Font';
}
.price-sale-text-color{
    font-size: 24px;
  }
  .price-regular-text-color{
    font-size: 14px;
     font-family: 'Medium_Font' !important;
  }
  .main-product-description-text{
    font-size: 16px;
    font-family: 'Medium_Font' !important;
  }
  .rating-text-coffee{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4px;
  }
.product-info-wrapper-custom {
    padding-left: 0 !important;
}
.rating-text-coffee .rating-star-text {
    font-size: 12px;
    font-family: 'Bold_Font';
}

.variants-main{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.variants-main .custom-variants {
    max-width: 50% !important;
    min-width: 50% !important;
}
.custom-variants .variant-label{
    font-size: 16px;
    font-family: 'Bold_Font';
}
.custom-variants  .variant-selector .variant-select-options{
    font-size: 16px;
    font-family: 'Medium_Font';
}
.custom-variants .variant-selector{
    max-width: 100% !important;
}
.quantity-main {
    max-width: 20% !important;
    width: 100%;
}
.quantity-main .quantity-label{
    font-size: 16px;
    font-family: 'Bold_Font';
}

.featured-product-buttons .featured-product-submit-button{
    max-width: 379px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Bold_Font';
}
.featured-product-buttons .featured-product-submit-button::after{
    box-shadow: none !important;
}

.quantity-button-custom-style{
    display: flex;
    flex-direction: row;
    gap:20px;    
}
.buttons-main{
    width: 100%;
}
.about-box-main .about-heading{
    font-size: 16px;
    font-family: 'Bold_Font';
} 
.about-box-main .about-text{
    font-size: 16px;
    font-family: 'Medium_Font';
}
.accordion-item .accordion-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.accordion-item {
    padding: 15px;
}

.accordion-name .accordion-button{
    background-color: transparent !important; 
    border: none;
    box-shadow: none;
}
.accordion-name .accordion-button::after{
    box-shadow: none;
}

.accordion-name .accordion-title-text{
    font-size: 16px;
    font-family: 'Bold_Font';
    margin: 0;
}
.accordion-name  .accordion-button{
    font-size: 24px;
    font-family: 'Medium_Font';
}


@media screen and (max-width:980px)
{
    .product-info-wrapper-custom {
        padding-left: 10px !important;
    }       
    .variants-main{
        display: flex;
        flex-direction: column;
        gap:0px;
        margin-bottom: 0 !important;
    }
    .variants-main .custom-variants {
        max-width: 98% !important;
        min-width: 98% !important;
    }
    .quantity-button-custom-style{
        flex-direction: column;
        gap:0px;    
    }
    .quantity-main {
        max-width: 98% !important;
        width: 100%;
    }
    .quantity-input-field{
        width: 100%;
    }
    .featured-product-buttons .featured-product-submit-button
    {
        max-width: 100%;
        width: 100%;
    }
}