.newsletter-title-text{
    font-family: 'Bold_Font';
}
.newsletter-button-email{
    width: 100% !important;
    max-width: 30% !important;
    min-width: 30%;
    font-size: 16px;
    font-family: 'Bold_Font';
}
.newslteter-heading{
    max-width: 60%;
    width: 100%;
}
.newsletter-wrapper-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter-wrapper-main .newletter-form-main{
    max-width: 77%;
    width: 100%;
}
.newletter-form-main .newsletter-form{
    max-width: 80% !important;
    width: 100% !important;
}
.newsletter-field-wrapper{
    max-width: 100%;
    width: 100%;
}
.newsletter-email-form, .newsletter-email-form .newsletter-form__field-wrapper, .field .field__input{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 80%;
}
.newslteter-heading {
    font-family: 'Bold_Font';
    font-size: 30px;
}

.email-label-placeholder-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.email-field::after{
    box-shadow: none !important;
}
.subhead-text-one, .subhead-text-two, .subhead-text-three{
    font-size: 16px;
    font-family: 'Normal_Font';
}
.subhead-text-two{
    font-family: 'Bold_Font';
}
@media screen and (max-width:1024px){
    .newslteter-heading {
        max-width: 65%;
        width: 100%;
    }
    .newsletter-email-form, .newsletter-email-form .newsletter-form__field-wrapper, .field .field__input{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100%;
    }
    .newslteter-heading {
        font-size: 26px;
    }
}

@media screen and (max-width:980px){
    .newslteter-heading {
        max-width: 65%;
        width: 100%;
        font-size: 18px;
    }
}
@media screen and (max-width:767px){
    .newsletter-wrapper-main .newletter-form-main{
        max-width: 100%;
        width: 100%;
    }
    
    .newletter-form-main .newsletter-form{
        max-width: 100% !important;
        width: 100% !important;
    }
    .newsletter-wrapper-main{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .newsletter-button-email{
        max-width: 40% !important;
    }
    .newslteter-heading {
        max-width: 75%;
    }
}